@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "Born2bSportyV2";
  src: url("/Born2bSportyV2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TinyUnicode";
  src: url("/TinyUnicode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VCRFont";
  src: url("/VCRFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Justabit";
  src: url("/justabit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.custom-font {
  font-family: "Born2bSportyV2", sans-serif;
}

.custom-tiny-font {
  font-family: "TinyUnicode", sans-serif;
}
.custom-justabit-font {
  font-family: "Justabit", sans-serif;
}
.custom-vcr-font {
  font-family: "VCRFont", sans-serif;
}
body {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased; /* For WebKit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}
